.ctverecek {
	shape-rendering: crispEdges;
}

.ctverecek:hover {
	fill: black;
	cursor: pointer;
}

.explikace {
	font-size: 12px;
	width: 980px;
}

.nazevstrany {
	font-size: 11px;
	text-anchor: end;
}

#jmeno {
	font-size: 16px;
}

#kliknete {
	font-size: 12px;
	font-weight: bold;
}

#podrobnosti {
	position: absolute;
	margin-left: 530px;
	margin-top: -360px;
	width: 320px;
	font-size: 12px;
}